<header>Gestión de Componentes</header>
<main class="main-componentes">
  <h2>Lista de componentes</h2>
  <div class="grid-componentes" id="contenedor-componentes">
    <button (click)="agregarComponente()">Añadir Componente</button>
  </div>
</main>

<ul>
  <li *ngFor="let componente of componentes">
    {{ componente.name }}
    {{ componente.description }}
    <!-- Asumiendo que cada item tiene una propiedad 'name' -->
  </li>
</ul>
<!-- MODAL -->
<!-- <div id="modal-prestamo" class="modal">
  <div class="modal-contenido">
    <h2>Registrar préstamo</h2>
    <form id="form-prestamo">
      <input type="hidden" id="componente-id" />
      <label for="fecha-prestamo">Fecha de préstamo:</label>
      <input type="date" id="fecha-prestamo" required />
      <label for="fecha-devolucion">Fecha de devolución:</label>
      <input type="date" id="fecha-devolucion" required />
      <div class="modal-botones">
        <button type="submit">Confirmar</button>
        <button type="button" onclick="cerrarModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div> -->
<footer>
  <p>© 2025 Universidad Católica Boliviana - Proyecto final de modulo</p>
  <p>Desarrollado por: Alan Cornejo y Carlos Aguilar</p>
</footer>
<script src="../js/componentes.js"></script>
