<header>
  <h1>
    Sistema de prestamo de equipos y componentes Universidad Catolica Boliviana
    San Pablo
  </h1>
</header>
<nav>
  <ul>
    <a routerLink="/">Home</a>
    <a routerLink="/login">Iniciar sesión</a>
    <a routerLink="/componentes">Componentes</a>
    <a routerLink="/prestamos">Préstamos</a>
    <a routerLink="/reportes">Reportes</a>
    <a routerLink="/horarios">Horarios</a>

    <!-- <li><a href="login.html">Iniciar sesión</a></li>
    <li><a href="componentes.html">Componentes</a></li>
    <li><a href="prestamos.html">Préstamos</a></li>
    <li><a href="reportes.html">Reportes</a></li>
    <li><a href="horarios.html">Horarios</a></li> -->
  </ul>
</nav>
<router-outlet />

<footer>
  <p>© 2025 Universidad Católica Boliviana - Proyecto final de modulo</p>
  <p>Desarrollado por: Alan Cornejo y Carlos Aguilar</p>
</footer>
