<div class="container">
  <h2>Agregar Componente</h2>
  <form [formGroup]="componenteForm">
    <div>
      <label for="name">Nombre:</label>
      <input id="name" type="text" formControlName="name" />
      <div
        *ngIf="
          componenteForm.controls['name'].invalid &&
          componenteForm.controls['name'].touched
        "
      >
        <small *ngIf="componenteForm.controls['nombre'].hasError('required')"
          >El nombre es obligatorio.</small
        >
      </div>
    </div>

    <div>
      <label for="description">Descripción:</label>
      <textarea id="description" formControlName="description"></textarea>
      <div
        *ngIf="
          componenteForm.controls['description'].invalid &&
          componenteForm.controls['description'].touched
        "
      >
        <small
          *ngIf="componenteForm.controls['description'].hasError('required')"
          >La descripción es obligatoria.</small
        >
      </div>
    </div>

    <button type="submit" (click)="agregarComponente()">Agregar</button>
  </form>
</div>
