<header>
  <h1>Horarios de Laboratorios C-34 y C-07</h1>
</header>

<main>
  <section class="horario-section">
    <h2>Laboratorio Electrónica</h2>
    <table class="tabla-horarios">
      <thead>
        <tr>
          <th>Día</th>
          <th>Horario</th>
        </tr>
      </thead>
      <tbody id="tabla-electronica"></tbody>
    </table>
  </section>
  <section class="horario-section">
    <h2>Laboratorio de Mecatrónica C-07</h2>
    <table class="tabla-horarios">
      <thead>
        <tr>
          <th>Día</th>
          <th>Horario</th>
        </tr>
      </thead>
      <tbody id="tabla-mecatronica"></tbody>
    </table>
  </section>
</main>
