<header>
  <h1>Horarios de Laboratorios C-34 y C-07</h1>
</header>
<nav>
  <ul>
    <li><a href="index.html">Inicio</a></li>
    <li><a href="componentes.html">Componentes</a></li>
    <li><a href="prestamos.html">Préstamos</a></li>
    <li><a href="reportes.html">Reportes</a></li>
  </ul>
</nav>
<main>
  <section class="horario-section">
    <h2>Laboratorio Electrónica</h2>
    <table class="tabla-horarios">
      <thead>
        <tr>
          <th>Día</th>
          <th>Horario</th>
        </tr>
      </thead>
      <tbody id="tabla-electronica">
        <!--JS -->
      </tbody>
    </table>
  </section>
  <section class="horario-section">
    <h2>Laboratorio de Mecatrónica C-07</h2>
    <table class="tabla-horarios">
      <thead>
        <tr>
          <th>Día</th>
          <th>Horario</th>
        </tr>
      </thead>
      <tbody id="tabla-mecatronica">
        <!-- JS -->
      </tbody>
    </table>
  </section>
</main>

<script src="../js/horarios.js"></script>
